@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');
*{
    padding: 0%;
    margin: 0%;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1A2A33;
    align-items: center;
}
.newGameDivStart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1A2A33;
    align-items: center;
}
.xoImage{
    display: flex;
    justify-content: center;
    margin-top: 119px;
    margin-bottom: 32px;
}
.xoImage img{
    width: 32px;
    height: 32px;
}
.pickUpPlayerToStart{
    height: 205px;
width: 327px;
left: 0px;
top: 64px;
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
background: #1F3641;
box-shadow: inset 0px -8px 0px #10212A;
border-radius: 15px;
margin-bottom: 32px;
}
.pickUpXorO{
    height: 72px;
width: 279px;
left: 24px;
top: 132px;
border-radius: 10px;
background: #1A2A33;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 9px;

}
.xWhite{
    height: 54px;
width: 131.98524475097656px;
left: 163px;
top: 141px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 7px;
}
.oDarkImg{
    height: 54px;
    width: 131.98524475097656px;
    left: 163px;
    top: 141px;
    border-radius: 10px;
    display: flex;
align-items: center;
justify-content: center;
margin-top: 7px;
}
.pickUp1sMark{
    font-family: Outfit;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 1px;
text-align: center;
color: #A8BFC9;
}
.rememberFirst{
    font-family: Outfit;
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0.875px;
text-align: center;
color: #A8BFC9;
opacity: 0.5;
}
.NGvsCPU{
    height: 56px;
width: 327px;
left: 0px;
top: 0px;
border-radius: 15px;
background: #F2B137;
box-shadow: inset 0px -8px 0px #CC8B13;
border-radius: 15px;
margin-bottom: 16px;
font-family: Outfit;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 1px;
text-align: center;
color: #1A2A33;
}
.ngvsPlayer{
    height: 56px;
width: 327px;
left: 0px;
top: 0px;
border-radius: 15px;
background: #31C3BD;
box-shadow: inset 0px -8px 0px #118C87;
border-radius: 15px;
font-family: Outfit;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 1px;
text-align: center;
color: #1A2A33;
}
.oDarkImg{
    width: 140px;
    background: #A8BFC9;
    border-radius: 10px;
} 


@media only screen and (min-width: 1440px) {
    .xoImage1{
        margin-top: 214px;
    }
    .pickUpPlayerToStart{
        height: 205px;
        width: 460px;
        border-radius: 15px;
    }
    .pickUpXorO{
        width: 412px;
    }
    
    .xWhite{
        width: 200px;
    }
    .xWhite:hover{
        background: rgba(168, 191, 201, 0.05);
        border-radius: 10px;
    }   
    .oDarkImg{
        width: 200px;
        background: #A8BFC9;
        border-radius: 10px;
    } 
    .NGvsCPU{
        width: 460px;
    }
    .NGvsCPU:hover{
        background-color: #FFC860;
    }
    .ngvsPlayer{
        width: 460px;
    }
    .ngvsPlayer:hover{
        background-color: #65E9E4;
    }
    
}